// flex
.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-center {
  justify-content: center;
}
.flex-items-center {
  align-items: center;
  align-content: center;
}
.flex-self-center {
  align-self: center;
}
.flex-self-end {
  align-self: flex-end;
}
.justify-end {
  justify-content: flex-end;
}

.flex-items-start {
  align-items: flex-start;
  align-content: flex-start;
}
// self

// grid
.grid {
  display: grid;
}
.grid-auto {
}
// margin
.space-x > * {
  margin-left: 10px;
  margin-right: 10px;
}
.space-x > :last-child {
  margin-right: 0;
}
// padding

// section and container
section {
  padding: 5rem 30px;
}
.container {
  max-width: 1530px;
  width: 100%;
  width: calc(100% - 1rem);
  margin: 0 auto;
}

// radius
.radius-full {
  border-radius: 100%;
}
// centering
.center {
  margin: 0 auto !important;
}

// display inline/block/inline-block
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
