// ****MOBILE-FIRST****

.create-profile {
  p {
    width: 350px;
    max-width: 400px;
  }
}

// mint form
.mint-form {
  background-color: $medium-gray;
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $medium-gray;
    align-items: stretch;
  }
  form input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: $light-gray;
    color: white;
    font-size: 16px;
  }
  form label {
    font-weight: 300;
    margin-bottom: 5px;
  }
}
.image-dropped,
.mint-form form {
  padding: 40px 80px;
}
.image-dropped {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    height: 150px;
    width: 150px;
    border-radius: 800px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
.form-container {
  max-width: 100%;

  margin: 0 auto;
  div.drag-drop {
    background-color: $light-gray;
  }
}
@media only screen and (min-width: 800px) {
  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
// .drag-drop {
//   background-color: $medium-gray;
//   border-radius: 4px;
//   justify-content: center;
//   margin: 0 auto;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// .drag-droparea {
// }
// .drag-drop p {
//   font-size: 1.2rem;
// }
// .image-dropped img {
//   height: 150px;
//   width: 150px;
//   object-fit: cover;
//   border-radius: 800px;
//   margin-top: auto;
//   margin-bottom: 10px;
// }
// .form-btn {
//   display: block;
//   bottom: none;
//   outline: none;
//   margin: 0 auto;
//   padding: 0.5rem 1.5rem;
//   border-radius: 4px;
//   background-color: rgb(140, 0, 0);
// }
// .mint-form {
//   margin: 0 auto;
//   background-color: #424242;

//   padding-top: 10px;
// }
// .mint-form form {
//   margin: 0 auto;
//   padding: 20px 180px;
//   width: 100%;
//   max-width: 300px;
// }
// .mint-form form button {
//   margin-left: 0;
// }
// .mint-form form input {
//   margin-bottom: 10px;
//   padding: 10px;
//   width: 100%;
//   background-color: $dark-gray;
//   color: white;
//   font-size: 16px;
//   outline: none;
//   border: none;
//   border-radius: 1px;
// }
// .mint-form form label {
//   font-weight: 300;
//   margin-bottom: 5px;
// }
