.hero {
  .left {
    h6 {
      background-color: $light-gray;
      width: fit-content;
      padding: 5px 12px;
      padding-right: 9px;
      border-radius: 100px;
      font-weight: normal;
    }
    p {
      max-width: 60%;
      margin-bottom: calc(1em / 0.7);
    }
  }
}

// social proof
.social-proof {
  padding: 0.8rem 30px;
  background-color: $medium-gray;
  svg {
    width: 250px;
  }
}
// why us
.why-us {
  .flex {
    margin-bottom: 2rem;
  }
}
//featured profiles
.featured {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }
}
